<?php

// Example configuration file for the MAC-filter

// To use this file, rename it to "config.php" and fill in the required values.
$config=array();

// Database
$config['db_host'] = "";
$config['db_user'] = "";
$config['db_password'] = "";
$config['db_name'] = "";
$config['db_prefix'] = "gcmmac";

// Email
$config['email_from'] = "example@example.com";
$config['email_name'] = "WLAN-Sicherheitsfilter";
$config['email_suffix'] = "@example.com";
$config['email_mode'] = 'sendmail'; //'sendmail' or 'smtp'

// Logging

/* Loglevel:
NONE - no logging
INFO - just registration logs
DEBUG - logs basically everything */

$config['loglevel'] = "NONE";

// Export
$config['export_password'] = "";

// Webserver
$config['domain'] = "https://example.com/wlan";

// SMTP
$config['smtp_host'] = "smtp1.example.com;smtp2.example.com";
$config['smtp_username'] = "user@example.com";
$config['smtp_password'] = "secret";
$config['smtp_security'] = "tls";
$config['smtp_port'] = "587";
?>