; Example configuration file for the MAC-filter

; To use this file, rename it to "config.ini" and fill in the required values.

[database]
db_host = ""
db_user = ""
db_password = ""
db_name = "gcmmac"

[email]
email_from = "From: WLAN-Sicherheitsfilter <example@example.com>"
email_suffix = "@example.com"

[export]
export_password = ""

[webserver]
domain = "https://example.com/wlan"