; Example configuration file for the MAC-filter

; To use this file, rename it to "config.ini" and fill in the required values.

[database]
db_host = ""
db_user = ""
db_password = ""
db_name = ""
db_prefix = "gcmmac"

[email]
email_from = "example@example.com"
email_name = "WLAN-Sicherheitsfilter"
email_suffix = "@example.com"

[export]
export_password = ""

[webserver]
domain = "https://example.com/wlan"

[smtp]
smtp_host = "smtp1.example.com;smtp2.example.com"
smtp_username = "user@example.com"
smtp_password = "secret"
smtp_security = "tls"
smtp_port = "587"